.globoplay {
    color: #FB0735;
}

.g1 {
    color: #C3170C;
}

.cartola {
    color: #E3662B;
}

.gshow {
    color: #EC7D00;
}

.ge {
    color: #07AA47;
}

.valor {
    color: #006766;
}

.o-globo {
    color: #1E4B9B;
}

.receitas {
    color: #A81D83;
}

.dropz {
    color: #FF75BB;
}

.quem {
    color: #323333;
}
