body {
    background-color: white;
    font-family: 'Encode Sans', 'Times New Roman', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

#forehead {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #F5F6F7;
}

#menu {
    width: 1250px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#menu a:hover {
    text-decoration: none;
}

.page-button {
    font-family: 'Encode Sans', 'Times New Roman', sans-serif;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    white-space: nowrap;
}

#news {
    width: 1250px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#news img {
    border-radius: 12px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#main .headline {
    font-size: 52px;
    color: inherit;
    margin-bottom: 20px;
}

#main .secondary {
    font-size: 18px;
    margin-bottom: 10px;
}

.horizontal-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 15px;
}

.vertical-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.horizontal-box {
    display: flex;
    flex-wrap: wrap;
    width: 193px;
}

.vertical-box {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    margin: 20px;
}

.horizontal-box img {
    width: 193px;
    height: 100px;
}

.vertical-box img {
    width: 240px;
    height: 128px;
}

.theme {
    color: inherit;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.headline {
    font-size: 20px;
    font-weight: bold;
    color: #2F3134;
    margin-bottom: 15px;
}

.secondary {
    font-size: 18px;
    color: #2F3134;
    margin-bottom: 15px;
}
